/* ========================= Generic ============================ */

textarea {
	resize: none;
}

/* ========================= Hiring section ============================ */

.main__hiring-section {
	height: 560px;

	background-image: url("../media/hiring-section-bg.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 67% 95%;

	margin-bottom: 50px;

	display: flex;
	align-items: end;
}

.main__hiring-section-block {
	height: 290px;
	max-width: 680px;
}

.main__hiring-section-header {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 40px;
}

.main__hiring-section-text {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 24px;

	margin: 16px 0;
}

.main__hiring-job-form-link {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 36px;

	letter-spacing: 10px;

	margin-top: 20px;
	padding: 29px 20px;

	background-color: #4b8cbb;

	display: inline-block;
}

/* ========================= Vacancies section ============================ */

.main__vacancies-section {
	height: 500px;

	margin-bottom: 120px;
}

.main__vacancies-section-header {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 36px;

	padding: 10px 18px;
	background-color: #4b8cbb;

	display: inline-block;

	margin-bottom: 70px;
}

.main__lists-block {
	display: flex;
}

.main__list-block {
	display: flex;
	flex-direction: column;
	align-items: start;

	margin-right: 200px;
}

.main__list-legend {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 24px;

	margin-bottom: 30px;

	padding-left: 40px;
}

.main__list {
	border-left: 30px solid #4b8cbb;
	padding-left: 10px;
}

.main__requirements-list-element {
	font-family: "SeoulHangang-B";
	font-weight: 400;
	font-size: 24px;
}

.main__requirements-list-element:not(:last-child) {
	margin-bottom: 45px;
}

.main__list--education {
	max-width: 470px;
}

.main__education-list-element {
	font-family: "SeoulHangang-B";
	font-weight: 400;
	font-size: 24px;

	margin-bottom: 60px;
}

/* ========================= Job form ============================ */

.main__form-header-block {
	background-color: #4b8cbb;

	padding: 24px 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.main__form-header-text {
	font-family: "SeoulHangang-B";
	font-weight: 400;
	font-size: 36px;
}

.main__form-inputs {
	background-color: rgba(217, 217, 217, 0.31);

	padding: 50px;
	margin-bottom: 50px;

	display: flex;
	flex-direction: column;
}

.main__form-inputs-group {
	display: flex;
	justify-content: space-between;
}

.main__form-inputs-group > div {
	width: 45%;
	display: flex;
	flex-direction: column;
}

.main__form-inputs input,
.main__form-inputs textarea {
	background-color: rgba(217, 217, 217, 1);

	font-family: "SeoulHangang-CM";
	font-weight: 400;
	font-size: 24px;

	border: none;

	padding: 20px 50px;
}

.main__small-inputs-container {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;
}

.main__small-input {
	width: 100%;
	max-width: 275px;

	background-color: rgba(217, 217, 217, 1);

	display: flex;
	align-items: center;
	justify-content: end;
}

.main__custom-input-container {
	width: 275px;

	background-color: rgba(217, 217, 217, 1);

	padding: 20px 0;
	margin-bottom: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}

input.main__custom-input {
	background-color: transparent;
	padding: 20px 0;
}

.main__custom-input-text {
	font-family: "SeoulHangang-CM";
	font-weight: 400;
	font-size: 24px;
}

.main__custom-input:focus { outline: none; }

.main__input-image { margin-right: 10px; }

input[type="date"] {
	display: flex;
	flex-direction: row-reverse;

	position: relative;
	right: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator { opacity: 0; }

.main__name-input,
.main__email-input,
.main__phone-input,
.main__small-input {
	margin-bottom: 50px;
}

.main__form-button {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 32px;

	padding: 17px 95px;

	background-color: rgba(75, 140, 187, 1);

	border: none;
}

.main__form-buttons-group {
	width: 100%;
	max-width: 760px;

	display: flex;
	align-self: center;
	justify-content: space-between;

	margin-top: 50px;
}
