/* ========================= Generic ============================ */

textarea {
	resize: none;
}

/* ========================= Hiring section ============================ */

.main__hiring-section {
	height: 560px;

	background-image: url("../media/hiring-section-bg.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 67% 95%;

	margin-bottom: 50px;

	display: flex;
	align-items: end;
}

.main__hiring-section-block {
	height: 290px;
	max-width: 680px;
}

.main__hiring-section-header {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 40px;
}

.main__hiring-section-text {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 24px;

	margin: 16px 0;
}

.main__hiring-job-form-link {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 36px;

	letter-spacing: 10px;

	margin-top: 20px;
	padding: 29px 20px;

	background-color: #4b8cbb;

	display: inline-block;
}

/* ========================= Vacancies section ============================ */

.main__vacancies-section {
	height: 500px;

	margin-bottom: 120px;
}

.main__vacancies-section-header {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 36px;

	padding: 10px 18px;
	background-color: #4b8cbb;

	display: inline-block;

	margin-bottom: 70px;
}

.main__lists-block {
	display: flex;
}

.main__list-block {
	display: flex;
	flex-direction: column;
	align-items: start;

	margin-right: 200px;
}

.main__list-legend {
	font-family: "SeoulHangang-CBL";
	font-weight: 400;
	font-size: 24px;

	margin-bottom: 30px;

	padding-left: 40px;
}

.main__list {
	border-left: 30px solid #4b8cbb;
	padding-left: 10px;
}

.main__requirements-list-element {
	font-family: "SeoulHangang-B";
	font-weight: 400;
	font-size: 24px;
}

.main__requirements-list-element:not(:last-child) {
	margin-bottom: 45px;
}

.main__list--education {
	max-width: 470px;
}

.main__education-list-element {
	font-family: "SeoulHangang-B";
	font-weight: 400;
	font-size: 24px;

	margin-bottom: 60px;
}

/* ========================= Job form ============================ */

#job-form { margin-bottom: 100px; }

.main__job-form-header-wrapper {
	background-color: #4B8CBB;

	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.main__job-form-header-text {
	font-family: 'SeoulHangang-B';
	font-size: 36px;
	font-weight: 400;
}

.main__job-form-inputs-wrapper {
	background-color: rgba(217, 217, 217, 0.31);

	display: flex;
	flex-direction: column;

	padding: 50px;
}

input[name='fullname'],
input[name='phone'],
input[name='email'],
.main__job-form-custom-inputs-group,
.main__job-form-inputs-container {
	margin-bottom: 50px;
}

input[name='birth-date'] { max-width: 170px; }

input[name='user-city'] { max-width: 220px; }

textarea { height: 270px; }

.main__job-form-inputs-container {
	display: flex;
	justify-content: space-between;
}

.main__job-form-inputs-group {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 45%;
}

.main__job-form-custom-inputs-group {
	display: flex;
	justify-content: space-between;
}

.main__job-form-custom-input-wrapper {
	width: 100%;
	max-width: 45%;
}

.main__job-form-custom-input-wrapper.main__job-form-custom-input-wrapper--select { 
	max-width: 600px;
	padding-left: 50px;
	box-sizing: border-box;

	justify-content: start;

	position: relative;
}

.main__job-form-custom-options { display: none; }

.main__job-form-custom-select:checked + div.main__job-form-custom-options { 
	display: block;

	position: absolute;
	left: 0;
	right: 0;
	top: 100%;

	background-color: #D9D9D9;
	display: flex;
	flex-direction: column;
}

.main__job-form-custom-select-marker.active { transform: rotate(180deg); }

.main__job-form-custom-option { padding: 20px 0 20px 50px; }

.main__job-form-custom-option:hover { background-color: #cccccc; }

.main__job-form-buttons-group {
	display: flex;
	justify-content: space-between;
	align-self: center;

	width: 100%;
	max-width: 60%;
}

.main__job-form-input,
.main__job-form-custom-input-wrapper {
	background-color: #D9D9D9;
}

.main__job-form-custom-input { background-color: transparent; }

.main__job-form-input,
.main__job-form-custom-input,
#job-form button {
	border: none;
}

.main__job-form-input,
.main__job-form-custom-input,
.main__job-form-custom-input-text, 
.main__custom-option-text,
#job-form button {
	font-family: 'SeoulHangang-B';
	font-size: 24px;
	font-weight: 400;
}

#job-form button {
	background-color: #4B8CBB;

	height: 65px;
	width: 100%;
	max-width: 330px;

	font-family: 'SeoulHangang-CBL';
}

.main__job-form-custom-input-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;	
}

.main__job-form-input { padding: 20px 0 20px 50px; }

.main__job-form-custom-input-wrapper { padding: 20px 0; }

.main__job-form-input,
.main__job-form-custom-input-wrapper {
	position: relative;
}

.main__job-form-error-message {
	display: none;

	position: absolute;
	bottom: 120%;

	font-family: 'SeoulHangang-B';
	font-size: 12px;
	font-weight: 400;
	
	color: red
}

.main__job-form-error-message.active { display: block; }