.main__services-section-header {
    background-color: #4B8CBB;

    display: inline-block;

    font-family: "SeoulHangang-CBL";
    font-weight: 400;
    font-size: 36px;

    padding: 10px 18px;
    margin-bottom: 36px;
}

.main__services-wrapper {
    height: 100%;
    max-height: 440px;
    width: 100%;

    display: flex;

    margin-bottom: 150px;
}

.main__services-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__services-list-legend {
    font-family: "SeoulHangang-CBL";
    font-weight: 400;
    font-size: 24px;

    margin-bottom: 16px;
}

.main__services-element {
    font-family: "SeoulHangang-B";
    font-weight: 400;
    font-size: 24px;

    margin-bottom: 60px;
}

.main__services-list {
    border-left: 30px solid #4B8CBB;
    padding-left: 12px;

    margin-right: 150px;
}

.main__services-list .main__services-element:last-child { margin-bottom: 0; }